<ion-view title="Add/Edit Rate" id="page3" class=" ">
  <ion-content padding="true" class="has-header">
    <form name="form" class="list " novalidate ng-submit="addExchangeRate()">
      <label class="item item-input item-floating-label" id="addEditRates-select2">
        <span class="input-label">Main Currency</span>
        <input type="text" ng-model="baseCurrency" ng-required="true" ng-change="onBaseChanged()" placeholder="Main Currency"/>
      </label>
      <label class="item item-input item-floating-label" id="addEditRates-select4">
        <span class="input-label">Exchange Currency</span>
        <input type="text" ng-model="exchange.code" ng-required="true" placeholder="Exchange Currency"/>
      </label>
      <label class="item item-input item-floating-label" id="addEditRates-input2">
        <span class="input-label">Exchange Rate</span>
        <input type="number" placeholder="Exchange Rate" ng-model="exchange.rate" ng-required="true">
      </label>
      <div class="row">
        <div class="col col-50 col-offset-50">
          <button type="submit" class=" button button-calm  button-block ">Add</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
