<ion-view title="Add/Edit Rate" id="page3" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="addEditRates-form2" class="list ">
      <label class="item item-input item-select" id="addEditRates-select2">
        <span class="input-label">Your main Currency</span>
        <select ng-options="currency as currency for currency in currencies" ng-model="baseCurrency" ng-change="onBaseChanged()"></select>
      </label>
      <h3>Insert Exchange Rate</h3>
      <label class="item item-input item-select" id="addEditRates-select4">
        <span class="input-label">Currency</span>
        <select ng-options="currency as currency for currency in currencies" ng-model="exchange.code"></select>
      </label>
      <label class="item item-input " id="addEditRates-input2">
        <span class="input-label">Rate</span>
        <input type="text" placeholder="" ng-model="exchange.rate">
      </label>
    </form>
    <button id="addEditRates-button6" class=" button button-calm  button-block " ng-click="addExchangeRate()">Add</button>
  </ion-content>
</ion-view>
