<ion-view title="Sum Exchange Rates" id="page2" class=" ">
  <ion-nav-buttons side="right">
    <button class="button btn-lg button-icon button-clear ion-ios-refresh-empty" ng-click="reset()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="sumExchangeRates-form1" class="list ">
      <label class="item item-input item-floating-label">
        <span class="input-label">Total in {{baseCurrency}}:</span>
        <input type="number" placeholder="Total in {{baseCurrency}}" ng-model="total" ng-change="calculate()">
      </label>
      <label class="item item-input">
        <span class="input-label">Remain in {{baseCurrency}}:</span>
        <span ng-show="remains !== undefined" ng-bind="remains | ceil"></span>
      </label>
      <ion-item class="range range-positive " ng-repeat="exchange in exchangeRates">
        <div class="row">
          <span class="col col-10">{{exchange.code}}</span>
          <span class="col col-10" ng-bind="exchange.amount"></span>
          <input class="col col-67" type="range" ng-disabled="!total" ng-model="exchange.amount" min="0" max="{{total*exchange.rate | ceil}}"
                 ng-change="calculate()">
          <span class="col col-10" ng-show="remains !== undefined" ng-bind="total*exchange.rate | ceil"></span>
        </div>
      </ion-item>
    </form>
  </ion-content>
</ion-view>
