<ion-view title="Sum Exchange Rates" id="page2" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="sumExchangeRates-form1" class="list ">
      <label class="item item-input item-floating-label">
        <span class="input-label">Total {{baseCurrency}}: </span>
        <input type="text" placeholder="Total {{baseCurrency}}" ng-model="total" ng-change="calculate()">
      </label>
      <label class="item item-input">
        <span class="input-label">Remain {{baseCurrency}}</span>
        <input type="text" ng-model="remains | ceil">
      </label>
      <ion-item class="range range-positive " ng-repeat="exchange in exchangeRates">
        <span ng-show="total" ng-bind="total*exchange.rate | ceil"></span>
        <span>&nbsp;{{exchange.code}}</span>
        <input type="range" ng-disabled="!total" ng-model="exchange.amount" min="0" max="{{total*exchange.rate | ceil}}" ng-change="calculate()">
        <span ng-bind="exchange.amount"></span>
      </ion-item>
    </form>
    <button ng-click="reset()" class=" button button-calm  button-block ">Reset</button>
  </ion-content>
</ion-view>
